body {
  margin: 0;
  font-family: 'Segoe UI', 'Gill Sans MT', Calibri, 'Trebuchet MS', Arial, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  background: #f8fafc;
}

.main-content {
  padding-top: 56px;
  min-height: 94vh;
  width: 100vw;
  box-sizing: border-box;
}
